* {
    margin: 0;
    padding: 0;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*#59564b;*/
    background-color: #4b5359;
    color: #cccccc;
}
.page-container{
    box-sizing: border-box;
    margin:auto;
    padding: 30px 20px 0 20px;
    max-width: 760px;
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    grid-template-areas: 
    "headerArea"
    "contentArea";
}

.header-container {
    grid-area: headerArea;
    display: flex;
    flex-direction: column;
}
.potrait {
    padding-right: 30px;
}
.description {
    margin-top: 10px;
}
.header-links {
    display: flex;
    margin-top: 10px;
}
.header-links a {
    padding-right: 20px;
    font-size: 1.5rem;
}


.content-container {
    grid-area: contentArea;
    margin-bottom: 20px;
    padding-bottom: 50px;
    border-bottom: 3px solid #cccccc;
}

.project-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.project-card {
    display: flex;
    flex-direction: column;
}
.project-preview {
    width: 300px;
    padding-right: 30px; 
}
.video-setup {
    width: 300px;
    height: 168.75px;
}
.project-links {
    display: flex;
}
.project-links a {
    padding-right: 20px;
    font-size: 1.3rem;
}
.project-link-detail {
    font-size: 1em;
}

.footer-container {
    box-sizing: border-box;
    margin:auto;
    padding: 0 20px 30px 20px;
    max-width: 760px;
    color: grey;
}

h1 {
    margin: 0 0 10px 0;
    font-weight: normal;
    font-size: 3rem;
}

h2 {
    margin: 0 0 30px 0;
    font-weight: normal;
    font-size: 2rem;
}

h3 {
    margin: 0 0 10px 0;
    font-weight: normal;
    font-size: 3rem;
}

p {
    line-height: 1.4rem;
}

a:link {
    color: #c8ab37;
    text-decoration: none;
}
a:visited {
    color: #c8ab37;
}
a:hover {
    color: #fae075;
}
a:active {
    color: #fae075;
}

@media (min-width: 576px) {
    .header-container {
        flex-direction: column;
    }
    .video-setup {
        width: 550px;
        height: 309.38px;
    }
}

@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
    }
    .video-setup {
        width: 720px;
        height: 405px;
    }
}